workflows/Recover Workflows.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-11T07:22:08.052Z",
  "id": "X2sVkGJRVpvGv6E7",
  "meta": null,
  "name": "Recover Workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "f2baf4e8-ee9b-4a29-b55e-8fd76a69b4e8",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        820,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "elpolloloco6498",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/elpolloloco6498/n8n-backup"
        }
      },
      "id": "bd10754d-64f5-4006-b4af-4ba54ec41395",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1040,
        400
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "UIQp8Gp8y8pRx7vh",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.name }}",
          "mode": "name"
        },
        "filePath": "workflows"
      },
      "id": "7427833e-6357-41f1-9a8a-187a20f25f35",
      "name": "GitHub1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "UIQp8Gp8y8pRx7vh",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fa9b7c26-7ccb-4f6d-a023-9720e7a79eaf",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1520,
        400
      ]
    },
    {
      "parameters": {},
      "id": "24bb132e-d807-4d03-8293-dd79ef3db81f",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2020,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5dc0375d-98b2-4558-85ee-246c02c6cd9f",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Recover Workflows.json",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9cd9e910-627d-4c0c-953c-d8cf60b47456",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-10T13:54:44.215Z",
      "updatedAt": "2024-01-10T13:54:44.215Z",
      "id": "JJ8MxWA5bQipggZc",
      "name": "no-delete"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-11T08:15:06.000Z",
  "versionId": "8ca3e65d-bd8c-4e74-bb4e-ad914bedf3ee"
}